[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
	branch = master
[submodule "themes/hugo-pacman-theme"]
	path = themes/hugo-pacman-theme
	url = https://github.com/coderzh/hugo-pacman-theme.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:ElvisSong/elvissong.github.io.git
	branch = master
